@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login">
          <div class="wrap">
				<div class="col_1_of_login span_1_of_login">
					<h4 class="title">New Customers</h4>
					<h5 class="sub_title">Register Account</h5>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</p>
					<div class="button1">
					    <Button name="Submit" >@Html.ActionLink("Continue","Register","Home")</Button>
					 </div>
					 <div class="clear"></div>
				</div>
				<div class="col_1_of_login span_1_of_login">
				  <div class="login-title">
	           		<h4 class="title">Registered Customers</h4>
					 <div class="comments-area">
						<form action="~/ShoppingCart/Login1" method="post">
							<p>
								<label>Name</label>
								 
								@Html.TextBox("UserName", null, new {placeHolder="Enter User Name" , required="true" })
							</p>
							<p>
								<label>Password</label>
								 
								@Html.TextBox("Password", null, new {placeHolder="Enter Password" , required="true",type="password" })
							</p>
							 
							 <p>
								<input type="submit" value="Login">
							</p>
						</form>
					</div>
			      </div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
       
