@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ProjectASP.Net.Models.Product
<link href="~/Content/bootstrap.css" rel="stylesheet" />

			  <div class="labout span_1_of_a1">
				<!-- start product_slider -->
				     <ul id="etalage">
							<li>	 
									<img class="etalage_thumb_image" src="@Url.Content(ViewBag.prodDetail.ImageUrl)" />
							</li>
					 </ul>
			<!-- end product_slider -->
			</div>
<div class="cont1 span_2_of_a1">
				<h3 class="m_3">Product Price</h3>
				
				<div class="price_single">
							   
							  <span class="actual"> Rs.@ViewBag.prodDetail.ProductPrice</span>
							</div>
				 
				<div class="btn_form">
				   
                       <button class="btn btn-primary">@Html.ActionLink("Buy now", "OrderNow", "ShoppingCart", new { id=ViewBag.prodDetail.Id},null)</button>
					 
				</div>
				<h3>Product Detail</h3>
    			<p class="m_desc">@ViewBag.prodDetail.Detail</p>
			</div>
			<div class="clear"></div>
     
    