@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
            <br><br>
            <h4 class="title">Introduction</h4>
               <h4>Online Stationery shop was formed with the aim to serve our qualitative goods to the people at their <br>
                   door step. Over the years Online Stationery shop has built up considerable experience in the market <br>
                   specifically relating to its extensive range of Stationery products.</h4> 
               
               <br><br>
               <h4 class="title">Customer Satisfaction</h4>
               <h4>Customer satisfaction has been our prime desire since our existence. Our ever-growing satisfied custo-<br>
                   mers are the evidence of our quality-oriented policies. At Online Stationery shop what we value more is<br>
                   the Customer Satisfaction; our Customer Care Department is always seeking to make our Customers <br>
                   feel great.</h4>

               
               
               <br><br>
               <h4 class="title">Fast Delivery</h4>
               <h4> The fact which make us different from all is fast and reliable delivery. It's not only the sentence <br>
                    but out motto, and we are committed with that.</h4>
               <br><br>
        </center>
